/* ************* Cross Sections ************* */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Open+Sans:wght@300;400;700&display=swap');

body, header, nav, section, article, footer, h1, h2, h3, p, ul, li, table, a, input, fieldset, textarea, button {
    margin: 0;
    padding: 0;
    font-size: 100%;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
    color: #777777;
    border: none;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    font: 400 1.6rem/1.8 'Open Sans', sans-serif;
}

main, footer {
    text-align: center;
}

h1 a, h2, h3{
    color: #555555;
}

h1 a, h2, footer h2 a {
    font: 700 4rem 'Amatic SC', cursive;
    letter-spacing: .3rem;
}

header h1 a::before {
    content: url("../images/logo.png");
    padding-left: 4rem;
}

footer h2:nth-of-type(2) a::before {
    content: url("../images/logo-white.png");
}

h3, th {
    font: 700 1.4rem 'Open Sans', sans-serif;
    text-transform: uppercase;
}

h2 {
    margin: 5rem 0;
}

h3 {
    margin: 1.2rem 0;
}

img {
    width: 180px;
    height: 180px;
    border: .4rem solid #e6c1bb9c;
    border-radius: 50%;
}

img:hover {
    border-color: #bb8c84;
}

/************** Header **************/
header .wrapper{
    max-width: 100%;
    margin: 0 auto;
    padding: 3rem 0 1rem 0;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 2;
}

header{
    border-bottom: #a0a0a065 dashed .20rem;
    border-radius: 50%;
    padding-bottom: 18rem;
}

header h1 {
    float: left;
    margin-left: 28rem;
}

/************** Navigation **************/
nav li {
    display: inline-block;
    padding-right: 4.5rem;
}

nav a{
    font: 700 1.4rem 'Open Sans', sans-serif;
    color: #555555;
}

nav {
    float: right;
    padding-top: 1.5rem;
    margin-right: 28rem;
}

nav li.current a {
    border-bottom: #555555b2 dashed .10rem;
    background-clip: content-box;
    padding-bottom: 1rem;
}

nav a:hover {
    border-bottom: #555555b2 dashed .10rem;
    background-clip: content-box;
    padding-bottom: 1rem;
}

/************** Variety of Cakes **************/
#types {
    max-width: 120rem;
    margin: 0 auto;
}
#types li {
    margin-right: 6rem;
    width: calc(100%/4 - 6rem);
    float: left;
}

#types::after {
    content: "";
    clear: both;
    display: block;
}

/************** Pricing **************/
#pricing {
    margin-top: 10rem;
    background: url("../images/backgroundcake.jpeg") no-repeat;
    background-size: cover;
}

#pricing .wrapper {
    max-width: 120rem;
    margin: 0rem auto;
    padding: 1rem 0 8rem 0;
}

#pricing h2 {
    color: #ffffff;
}

th, td {
    border: .01rem solid #ffffff;
    width: 45rem;
    height: 4.5rem;
    color: #ffffff;
}

tbody>:nth-child(even) {
    background-color: #ffffff42;
}

table {
    border-collapse: collapse;
    margin: 0rem auto;
}

/************** Consultation Article **************/
article {
    max-width: 100rem;
    margin: 0rem auto 5rem auto;
    padding: 2rem 0;
}

article a {
    padding: .8rem 2.5rem;
    font: 700 1.4rem 'Open Sans', sans-serif;
    background-color: #c89e97;
    color: #ffffff;
}

article a:hover {
    background-color: #f5cfcaf1;
    color: #c89e97;
}

article p:nth-of-type(2) {
    margin: 1.5rem 0 4rem 0;
}

/************** Gallery **************/
#gallery {
    background-color: #e0b1a9;
    padding: 1rem 0 9rem 0;
}

#gallery h2, #gallery h3 {
    color: #ffffff;
}

#gallery ul {
    max-width: 120rem;
    margin: 0 auto;
}

#gallery li {
    width: calc(100%/6);
    float: left;
}

#gallery h3:hover {
    color: #c89e97;
    text-shadow: #ddbeb9 1px 0px, #ddbeb9 1px 1px, #ddbeb9 0px 1px, #ddbeb9 -1px 1px, #ddbeb9 -1px 0px, #ddbeb9 -1px -1px, #ddbeb9 0px -1px, #ddbeb9 1px -1px;
}

#gallery::after {
    content: "";
    clear: both;
    display: block;
}

/************** Flavors **************/
#flavors {
    max-width: 120rem;
    margin: 1rem auto 9rem auto;
}

#flavors section {
    width: calc(100%/3);
    float: left;
}

#flavors::after{
    content: "";
    clear: both;
    display: block;
}

#flavors li {
    line-height: 3.5rem;
}

#flavors a {
    line-height: 2.3rem;
}

#flavors a:hover {
    color: #e0b1a9;
}

/************** Footer **************/
footer {
    background: url("../images/footerbackground.jpg") no-repeat;
    background-size: cover;
    border-top: #a0a0a065 dashed .20rem;
    border-top-left-radius: 90% 60%;
    border-top-right-radius: 90% 60%;
    background-clip: content-box;
    padding-top: .7rem;
}

footer .wrapper {
    max-width: 65rem;
    margin: 0rem auto;
    padding: 5rem 0;
}

footer li {
    display: inline-block;
    line-height: 15rem;
}

footer li a {
    color: transparent;
    font-size: .001rem;
    margin-left: 2rem;
}

footer a, footer h2, footer p {
    color: #ffffff;
}

footer h2 {
    border-top: #e0b1a988 dashed .15rem;
    background-clip: content-box;
    padding-top: 3rem;
    margin: 1rem;
}

footer p {
    font-size: 1.4rem;
}

footer input {
    width: 40rem;
    height: 3rem;
    font: 400 1.4rem/1.2 'Open Sans', sans-serif;
    color: #777777;
    text-indent: 1rem;
    margin-bottom: 5rem;
}

button {
    border: 0;
    padding: .6rem 3.5rem;
    font: 700 1.4rem 'Open Sans', sans-serif;
    background-color: #c89e97;
    color: #ffffff;
    margin-left: 1.6rem;
}

button:hover {
    background-color: #ffdcd6;
    color: #e0b1a9;
}

p a:hover {
    color: #e0b1a9;
}

/************** Socials **************/
footer li:nth-of-type(1) a::before {
    content: url("../images/twitter.png");
}

footer li:nth-of-type(2) a::before {
    content: url("../images/facebook.png");
}

footer li:nth-of-type(3) a::before {
    content: url("../images/google-plus-logo.png");
}

footer li:nth-of-type(4) a::before {
    content: url("../images/instagram-symbol.png");
}

footer li:nth-of-type(5) a::before {
    content: url("../images/pinterest-sign.png");
}

/************** Google Maps **************/
#map div{
    max-width: 117rem;
    margin: 0 auto;
    overflow:hidden;
    position:relative;
    height:42.5rem;
}

#map div iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/************** Form **************/
#contactform {
    max-width: 117rem;
    margin: 0 auto;
    padding: 7.6rem 0 7.6rem 0;
}

#contactform div:nth-of-type(1), #contactform div:nth-of-type(4) {
    width: 100%;
}

#contactform div:nth-of-type(2) {
    width: calc(100%/2 - 4rem);
    float: left;
    margin-right: 4rem;
}
#contactform div:nth-of-type(3) {
    width: calc(100%/2 - 4rem);
    float: right;
}

/************** Inputs & Labels **************/
label {
    display: none;
}

input, textarea {
    width: 100%;
    margin-top: 1.9rem;
    padding: 7.5px 20px 7.5px;
    font: 400 16px 'Open Sans', sans-serif;
    color: #999999;
}

input {
padding-top: 1.5rem;
border-bottom: 1px solid #bcbcbc;
}

textarea {
    border: 1px solid #bcbcbc;
    height: 16.4rem;
    margin-top: 5rem;
}

#contactform button {
    margin-top: 6.6rem;
    padding: .7rem 4.5rem;
}

