/* ************* Full Page ************* */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body, nav, h1, h2, h3, ul, li, a {
    list-style: none;
    text-decoration: none;
    font-weight: normal;
    color: #777777;
}

header, section, article, footer {
    max-width: 80rem;
	margin: 0 auto;
    padding: 1rem;
    line-height: 1.8rem;
}

body, li, a{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    letter-spacing: .02rem;
}

main, footer {
    text-align: center;
}

h1 a, h2, h3 {
    color: #555555;
    font-weight: 800;
}

h1 a, h2, footer h3 {
    font-family: 'Amatic SC', cursive;
    letter-spacing: .10rem;
    font-size: 2.8rem;
}

header h1 a::before {
    content: url("images/logo.png");
    padding-left: 4rem;
}

footer h1 a::before {
    content: url("images/logo-white.png");
}

h3 {
    text-transform: uppercase;
    font-size: 0.9rem;
}

img {
    width: 180px;
    height: 180px;
    border: .4rem solid #e6c1bb9c;
    border-radius: 50%;
}

img:hover {
    border-color: #bb8c84;
}

/************** Navigation **************/
nav li:nth-of-type(3) a {
    border-bottom: #555555b2 dashed .10rem;
    background-clip: content-box;
    padding-bottom: 1rem;
}

nav a:hover {
    border-bottom: #555555b2 dashed .10rem;
    background-clip: content-box;
    padding-bottom: 1rem;
}

/************** Header **************/
header {
    background-color: #ffffff;
    border-bottom: #a0a0a049 dashed .15rem;
    border-radius: 50%;
    margin-bottom: 2rem;
    padding: 0 20rem 3rem 20rem;
}

nav li {
    display: inline-block;
    padding: 0 1.5rem;
}

nav a{
    color: #555555;
    font-weight: 700;
    font-size: .9rem;
}

/************** Variety of Cakes **************/
#types li {
    margin: 0 2rem;
    width: 15rem;
}

/************** Pricing **************/
#pricing {
    max-width: 110rem;
    height: 40rem;
    text-align: center;
    background-image: url("images/backgroundcake.jpeg");
    background-size: cover;
    color: #ffffff;
}

#pricing h2, #pricing h3 {
    color: #ffffff;
}

th, td {
    border: .01rem solid #ffffff;
    width: 25rem;
    height: 2.5rem;
}

tbody>:nth-child(even) {
    background-color: #ffffff65;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

/************** Consultation Article **************/
article {
    max-width: 60rem;
}

article a {
    padding: .6rem 2rem;
    font-size: 1rem;
    font-weight: 700;
    background-color: #c89e97;
    color: #ffffff;
}

article a:hover {
    background-color: #f5cfcaf1;
    color: #c89e97;
}

article p:nth-of-type(2) {
    margin-bottom: 4rem;
}

/************** Gallery **************/
#gallery, #gallery h2, #gallery h3 {
    max-width: 110rem;
    background-color: #e0b1a9;
    color: #ffffff;
}

#gallery li {
    padding: 1rem;
}

#gallery h3:hover {
    color: #c89e97;
    text-shadow: #ddbeb9 1px 0px, #ddbeb9 1px 1px, #ddbeb9 0px 1px, #ddbeb9 -1px 1px, #ddbeb9 -1px 0px, #ddbeb9 -1px -1px, #ddbeb9 0px -1px, #ddbeb9 1px -1px;
}

/************** Flavors **************/
#flavors ul {
    vertical-align: top;
}

#flavors a {
    line-height: 2.3rem;
}

#flavors a:hover {
    color: #e0b1a9;
}

/************** Footer **************/
footer {
    color: #ffffff;
    max-width: 110rem;
    background-image: url("images/footerbackground.jpg");
    background-size: cover;
    border-top: #a0a0a049 dashed .15rem;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    background-clip: content-box;
    padding: .5rem;
}

footer ul{
    margin: 5rem 30rem;
    border-bottom: #e0b1a988 dashed .10rem;
    
}

footer li {
    display: inline-block;
    line-height: 10rem;
}

footer li a {
    color: transparent;
}

footer a, h3 {
    color: #ffffff;
}

footer h1 {
    margin: 5rem 30rem 0 30rem;
    border-top: #e0b1a988 dashed .10rem;
    background-clip: content-box;
    padding-top: 2rem;
}

input {
    width: 25rem;
    height: 2rem;
    font-size: .9rem;
    color: #777777;
    text-indent: 1rem;
}

button {
    border: 0;
    padding: .6rem 3.5rem;
    font-size: .9rem;
    font-weight: 700;
    background-color: #c89e97;
    color: #ffffff;
    margin-left: 1.3rem;
}

p a:hover {
    color: #e0b1a9;
}

/************** Socials **************/
footer li:nth-of-type(1) a::before {
    content: url("images/twitter.png");
}

footer li:nth-of-type(2) a::before {
    content: url("images/facebook.png");
}

footer li:nth-of-type(3) a::before {
    content: url("images/google-plus-logo.png");
}

footer li:nth-of-type(4) a::before {
    content: url("images/instagram-symbol.png");
}

footer li:nth-of-type(5) a::before {
    content: url("images/pinterest-sign.png");
}