body {
    font-family:'Gill Sans', 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 300;
    margin-left: 50px;
    margin-right: 50px;
    background-color:thistle;
}

h1{
    font-family: fantasy;
    text-align: center;
}

h2{
    font-family: fantasy;
    text-align: center;
    padding-top: 100px;
}

h4{
    font-family: fantasy;
    text-align: center;
    padding-top: 50px;
}

p{
    
}

p:nth-of-type(4){
margin-top: -50px;
margin-bottom: 35px;
}
p:nth-of-type(5){
margin-top: -50px;
margin-bottom: 35px;
}
p:nth-of-type(6){
margin-top: -50px;
margin-bottom: 35px;
}
p:nth-of-type(7){
    margin-top: -50px;
    margin-bottom: 35px;
}
p:nth-of-type(8){
margin-top: -50px;
margin-bottom: 35px;
}
p:nth-of-type(9){
margin-top: -50px;
margin-bottom: 90px;
}

strong {

}

em{
    
}

ul{

}

ol{

}
li{
    margin-bottom: 20px;
}
img{
    margin-right: 15px;
    padding: 5px;
    outline: white groove 5px;
    border-radius: 50%;
}

#border{
outline:transparent 0px;
border-radius: 0%;
}