/* Full Page */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

body, nav, h1, h2, h3, ul, li, a {
    font-size: 100%;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
    color: #777777;
}

/* header, section, article, footer {
    max-width: 50rem;
	margin: 0 auto;
	padding: 3rem;
} */

body{
    font-family: 'Open Sans', sans-serif;
}

h1 a, h2, h3 {
    color: #555555;
    font-weight: 700;
}

h1, h2 {
    font-family: 'Amatic SC', cursive;
    letter-spacing: 3px;
    font-size: 3rem;
}

h3 {
    text-transform: uppercase;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-color: ;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 1.8rem 0 1.8rem 0;
}

nav li{
    display: inline-block;
    color: #555555;
    font-weight: 700;
}
