body {
    font-family:'Gill Sans', 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 300;
    margin-left: 50px;
    margin-right: 50px;
    background-color:thistle;
}

h1{
    font-family: fantasy;
    text-align: center;
    color:midnightblue;
}

h2{
    font-family: fantasy;
    text-align: center;
    padding-top: 50px;
    color:midnightblue;
}

h4{
    font-family: fantasy;
    text-align: center;
    padding-top: 50px;
    color:snow;
}

h6{
    font-family: fantasy;
    text-align: center;
    color:midnightblue;
    font-size: 12px;
}

#coffin{
margin-top: -50px;
margin-bottom: 35px;
}
#stiletto{
margin-top: -50px;
margin-bottom: 35px;
}
#almond{
margin-top: -50px;
margin-bottom: 35px;
}
#square{
    margin-top: -50px;
    margin-bottom: 35px;
}
#oval{
margin-top: -50px;
margin-bottom: 35px;
}
#lipstick{
margin-top: -50px;
margin-bottom: 90px;
}

strong {
    color:brown;
    font-weight: 550;
}

em{
    color: teal;
}

ins{
    text-decoration-line: underline;
    text-decoration-color:darkmagenta;
}

ul{
    list-style-type:square;
}

ul li::before {
    content: "▪";
    color: white;
    display: inline-block; width: 1em;
  margin-left: -1em
  }

li{
    margin-bottom: 20px;
}
img{
    margin-right: 15px;
    padding: 5px;
    outline: white groove 5px;
    border-radius: 50%;
}

#border{
outline:transparent 0px;
border-radius: 0%;
margin-bottom: -60px;
}

button{
    height: 50px;
    width: 150px;
    font-size: large;
    color: white;
    background-color:black;
}